#############
## NodeJS
#############
node_modules/
coverage.html
web-debug.bat
badjs-web/static/scoreimg/
**project.json


#############
## webstorm
#############
.idea/
.vscode/


.pm2/
offline_log
uploads
*.example
*config.json
package-lock.json
*-debug.log
