#############
## NodeJS
#############
node_modules/
aegis-web/static/scoreimg/
aegis-web/static/img/tmp
**project.json

#############
## webstorm
#############
.idea/
.vscode/

.pm2/
offline_log
uploads
*.example
package-lock.json
*-debug.log
